[submodule "dependencies/CASE-Corpora"]
	path = dependencies/CASE-Corpora
	url = https://github.com/casework/CASE-Corpora.git
	branch = main
[submodule "dependencies/CASE-Examples"]
	path = dependencies/CASE-Examples
	url = https://github.com/casework/CASE-Examples.git
	branch = master
[submodule "dependencies/UCO-Profile-BFO"]
	path = dependencies/UCO-Profile-BFO
	url = https://github.com/ucoProject/UCO-Profile-BFO.git
	branch = main
[submodule "dependencies/UCO-Profile-FOAF"]
	path = dependencies/UCO-Profile-FOAF
	url = https://github.com/ucoProject/UCO-Profile-FOAF.git
	branch = main
[submodule "dependencies/UCO-Profile-GeoSPARQL"]
	path = dependencies/UCO-Profile-GeoSPARQL
	url = https://github.com/ucoProject/UCO-Profile-GeoSPARQL.git
	branch = main
[submodule "dependencies/UCO-Profile-Time"]
	path = dependencies/UCO-Profile-Time
	url = https://github.com/ucoProject/UCO-Profile-Time.git
	branch = main
[submodule "dependencies/UCO-Profile-gufo"]
	path = dependencies/UCO-Profile-gufo
	url = https://github.com/ucoProject/UCO-Profile-gufo.git
	branch = main
[submodule "dependencies/casework.github.io"]
	path = dependencies/casework.github.io
	url = https://github.com/casework/casework.github.io.git
	branch = master
[submodule "dependencies/prov-check"]
	path = dependencies/prov-check
	url = https://github.com/ajnelson-nist/prov-check.git
	branch = adjust_reporting
